.phone {
    display: none;
}

#image_profile {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../assets/img/profile_pic_home_crop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    z-index: -1;
}

#home {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100vh;
    background-color: #192024;
}

#rain_cont {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 0;
}

.digit_txt {
    height: 100%;
    position: absolute;
    font-family: DigiFont;
    color: #AAC7D8;
    text-shadow: 0px 0px 10px #aac7d8;
    filter: blur(5px);
}

#name_home {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#name_home h1 {
    margin: 0;
    white-space: nowrap;
    font-family: GenFont;
    font-size: 75pt;
    color: #E6E6E6;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.150);
    cursor: default;
}

#name_home h2 {
    margin: 0;
    white-space: nowrap;
    text-align: left;
    font-family: GenFont;
    font-size: 20pt;
    font-weight: bold;
    color: #93c4de;
    text-shadow: 0px 0px 5px #aac7d8a7;
    cursor: default;
}

#desc_home {
    overflow: hidden;
    height: 22pt;
}

#desc_home h2 {
    margin: 0;
    text-align: right;
    white-space: nowrap;
    font-family: GenFont;
    font-size: 20pt;
    font-weight: bold;
    color: #93c4de;
    text-shadow: 0px 0px 5px #aac7d8a7;
    cursor: default;
}

.desc_def {
    display: none;
}

.desc_in {
    display: block;
    animation: desc_in ease-in-out 0.25s;
}

.desc_out {
    display: block;
    animation: desc_out ease-in-out 0.25s;
}

#country {
    position: absolute;
    left: -180px;
    bottom: 10%;
    width: 300px;
    height: 100px;
    border-radius: 100px;
    background-color: #384852;
    transition: all 0.25s ease-in-out;
    gap: 8%;
    display: flex;
}

#country:hover {
    left: -40px;
}

#country img {
    position: relative;
    float: right;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    max-width: 80%;
    max-height: 80%;
}

#country p{
    display: grid;
    align-items: center;
    margin-left: 25%;
    font-family: GenFont;
    font-size: 14pt;
    color: #E6E6E6;
    transform: translateX(120%);
    opacity: 0%;
    transition: all 0.25s ease-in-out;
}

#country:hover p {
    transform: translateX(0%);
    opacity: 100%;
}

#about {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #192024;
    box-shadow: 0px 20px 20px black;
    border-radius: 0px 0px 50px 50px;
    z-index: 1;
    transition: all 0.25s ease-in-out;
}

#about #bg {
    position: absolute;
    width: 100%;
    height: 100%;
}

#bg #bg_circle{
    position: absolute;
    right: -6%;
    bottom: -12%;
    margin: 0;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-color: #8fa6b2;
    filter: blur(200px);
    z-index: -1;
}

.bg_inact {
    opacity: 0%;
    transition: all linear 0.25s;
}

.bg_active {
    opacity: 100%;
}

#cont_profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    gap: 8%;
}

#cont_photo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
    height: 400px;
}

#cont_photo img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 30% 20% 30% 20%;
}

.desc_img_inact {
    opacity: 50%;
    filter: blur(5px);
    box-shadow: 0px 0px 0px #8fa6b2;
    transition: all 0.5s ease-in-out;
}

.desc_img_act {
    opacity: 100%;
    filter: none;
    box-shadow: 0px 0px 80px #8fa6b2;
}

#cont_desc {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: fit-content;
    height: fit-content;
}

#cont_desc h1 {
    font-family: GenFont;
    font-size: 40pt;
    color: #E6E6E6;
    margin: 0;
}

#h2_cont {
    display: inline-block;
}

#cont_desc h2 {
    display: grid;
    vertical-align: center;
    font-family: GenFont;
    font-size: 16pt;
    color: #93c4de;
}

#cont_desc p {
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
    font-family: GenFont;
    font-size: 14pt;
    color: #c2c2c2;
    margin: 0;
}

.cont_desc_info {
    margin-bottom: 10px;
    overflow: hidden;
}

.cont_desc_info:nth-child(3) p{
    transition-delay: 100ms;
}

.cont_desc_info:nth-child(4) p{
    transition-delay: 200ms;
}

.cont_desc_info:nth-child(5) p{
    transition-delay: 300ms;
}

.cont_desc_info:nth-child(6) p{
    transition-delay: 400ms;
}

.desc_inact_h1 {
    opacity: 50%;
    text-shadow: 0px 0px 0px #c2c2c2;
    transition: all 0.25s ease-in-out;
}

.desc_active_h1 {
    opacity: 100%;
    text-shadow: 0px 0px 15px #aac7d8a7;
}

.desc_inact_h2 {
    opacity: 50%;
    text-shadow: 0px 0px 0px #7da6bd;
    transition: all 0.25s ease-in-out;
}

.desc_active_h2 {
    opacity: 100%;
    text-shadow: 0px 0px 5px #7da6bd;
    animation: power_unstable 20s linear infinite;
}

.desc_inact_p {
    opacity: 50%;
    transform: translateY(100%);
    transition: all 0.25s ease-in-out;
    filter: blur(2px);
}

.desc_active_p {
    opacity: 100%;
    transform: translateY(0%);
    filter: blur(0px);
}

#logos {
    margin-top: 5%;
    height: 32px;
    width: auto;
    display: flex;
    gap: 32px;
}

#logos img {
    max-height: 100%;
}

#btn_about {
    display: grid;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 8%;
    right: 4%;
    width: 165px;
    height: 75px;
    border-radius: 50px;
}

#btn_text {
    display: inline-block;
    pointer-events: none;
}

#btn_text h1 {
    color: #E6E6E6;
    font-family: GenFont;
    font-weight: bold;
    font-size: 16pt;
    margin: 0%;
}

#btn_text p {
    color: #899daa;
    font-family: GenFont;
    font-size: 8pt;
    margin: 0%;
}

.btn_inact {
    transform: translateX(130%);
    filter: blur(5px);
    transition: all 0.25s ease-in-out;
}

.btn_active {
    filter: blur(0px);
    transform: translateX(0%);
    cursor: pointer;
    background-color: #384852;
}

.btn_active:hover {
    background-color: #435d6e;
    box-shadow: 0px 0px 15px #577281;
}

@keyframes rain {
    from {
        transform: translateY(-30%);
        opacity: 100%;
    }
    to {
        transform: translateY(75%);
        opacity: 0%;
    }
}

@keyframes desc_in {
    from {
        transform: translateY(100%);
        filter: blur(2px);
        opacity: 30%;
        text-shadow: none;
    }
    to {
        transform: translateY(0%);
        filter: blur(0px);
        opacity: 100%;
        text-shadow: none;
    }
}

@keyframes desc_out {
    from {
        transform: translateY(0%);
        filter: blur(0px);
        opacity: 100%;
        text-shadow: none;
    }
    to {
        transform: translateY(-100%);
        filter: blur(2px);
        opacity: 30%;
        text-shadow: none;
    }
}

@keyframes power_unstable {
    0% {
        text-shadow: 0px 0px 5px #7da6bd;
        opacity: 100%;
    }

    22% {
        text-shadow: 0px 0px 5px #7da6bd;
        opacity: 100%;
    }

    22.5% {
        text-shadow: 0px 0px 0px #7da6bd;
        opacity: 80%;
    }
    23% {
        text-shadow: 0px 0px 5px #7da6bd;
        opacity: 100%;
    }
    23.5% {
        text-shadow: 0px 0px 0px #7da6bd;
        opacity: 80%;
    }
    24% {
        text-shadow: 0px 0px 5px #7da6bd;
        opacity: 100%;
    }
    32% {
        text-shadow: 0px 0px 5px #7da6bd;
        opacity: 100%;
    }
    45% {
        text-shadow: 0px 0px 5px #7da6bd;
        opacity: 100%;
    }
    45.5% {
        text-shadow: 0px 0px 0px #7da6bd;
        opacity: 40%;
    }
    75% {
        text-shadow: 0px 0px 0px #7da6bd;
        opacity: 40%;
    }
    75.5% {
        text-shadow: 0px 0px 5px #7da6bd;
        opacity: 100%;
    }
    76% {
        text-shadow: 0px 0px 0px #7da6bd;
        opacity: 80%;
    }
    76.5% {
        text-shadow: 0px 0px 5px #7da6bd;
        opacity: 100%;
    }
    77% {
        text-shadow: 0px 0px 5px #7da6bd;
        opacity: 100%;
    }
    100% {
        text-shadow: 0px 0px 5px #7da6bd;
        opacity: 100%;
    }
}

@media screen and (max-width: 1113px) {
    .cont_desc_info {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    #name_home h2 {
        text-align: center;
    }

    #name_home h1 {
        animation: name_roll linear infinite 10s;
    }

    #desc_home h2 {
        text-align: center;
    }

    #about {
        position: relative;
        width: 100vw;
        height: 120vh;
    }

    #cont_profile {
        width: 90%;
        height: 90%;
        display: inline-block;
    }

    #cont_photo {
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
        height: 200px;
        margin: 0;
    }

    #cont_desc {
        display: inline-block;
        position: relative;
        top: 10%;
        transform: translateY(0%);
        width: fit-content;
        height: fit-content;
    }

    .desc_img_act {
        opacity: 100%;
        filter: none;
        box-shadow: 0px 0px 20px #8fa6b2;
    }

    @keyframes name_roll {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(100%);
        }
    }
}

@media screen and (max-width: 1215px) {
    #cont_desc p {
        text-align: justify;
        text-justify: inter-word;
        line-height: 1.5;
        font-family: GenFont;
        font-size: 12pt;
        color: #c2c2c2;
        margin: 0;
    }
}