@font-face {
    font-family: HeaderMain;
    src: url(assets/fonts/HeaderTitle.otf);
}

@font-face {
    font-family: HeaderMain1;
    src: url(assets/fonts/HeaderTitle1.otf);
}

@font-face {
    font-family: GenFont;
    src: url(assets/fonts/GenFont.ttf);
}

@font-face {
    font-family: DigiFont;
    src: url(assets/fonts/DigiFont.TTF);
}

body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    background-color: #192024;
}

section {
    width: 80%;
    height: 100vh;
}

header {
    position: absolute;
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

#title_card {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5%;
    height: 80%;
    display: flex;
    gap: 15px;
}

#logo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    background-color: aqua;
}

#name_card {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: fit-content;
    cursor: pointer;
}

#name_card h1 {
    font-family: HeaderMain1;
    font-size: 30pt;
    font-weight: 100;
    color: #E6E6E6;
}

#nav {
    margin-right: 5%;
    width: 40%;
    height: 100%;
    float: right;
    display: flex;
    justify-content: right;
    gap: 10%;
}

.nav_text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: fit-content;
    margin-top: 5px;
    color: #E6E6E6;
    font-family: GenFont;
    font-size: 12pt;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

.ud {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    width: 0;
    height: 0;
    background-color: #E6E6E6;
    border-radius: 10px;
    visibility: hidden;
}

.nav_text:hover .ud {
    visibility: visible;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    width: 5px;
    height: 5px;
}

#nav_button {
    position: fixed;
    top: 5%;
    right: 4%;
    width: 100px;
    height: 100px;
    background-color: #7da3b7;
    z-index: 10;
}

.nav_hidden {
    opacity: 0%;
    visibility: hidden;
    filter: blur(5px);
    border-radius: 10%;
    transition: all 0.25s ease-in-out;
}

.nav_active {
    opacity: 100%;
    visibility: visible;
    filter: blur(0px);
    border-radius: 50%;
}

.nav_active:hover {
    box-shadow: 0px 0px 20px #6e90a2e0;
}

#image_profile {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(assets/img/profile_pic_home_crop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    z-index: -1;
}

#home {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100vh;
}

#rain_cont {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 0;
}

.digit_txt {
    height: 100%;
    position: absolute;
    font-family: DigiFont;
    color: #AAC7D8;
    text-shadow: 0px 0px 10px #aac7d8;
    filter: blur(5px);
}

#name_home {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#name_home h1 {
    margin: 0;
    white-space: nowrap;
    font-family: GenFont;
    font-size: 75pt;
    color: #E6E6E6;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.150);
    cursor: default;
}

#name_home h2 {
    margin: 0;
    white-space: nowrap;
    text-align: left;
    font-family: GenFont;
    font-size: 20pt;
    font-weight: bold;
    color: #93c4de;
    text-shadow: 0px 0px 5px #aac7d8a7;
    cursor: default;
}

#desc_home {
    overflow: hidden;
    height: 22pt;
}

#desc_home h2 {
    margin: 0;
    text-align: right;
    white-space: nowrap;
    font-family: GenFont;
    font-size: 20pt;
    font-weight: bold;
    color: #93c4de;
    text-shadow: 0px 0px 5px #aac7d8a7;
    cursor: default;
}

.desc_def {
    display: none;
}

.desc_in {
    display: block;
    animation: desc_in ease-in-out 0.25s;
}

.desc_out {
    display: block;
    animation: desc_out ease-in-out 0.25s;
}

#country {
    position: absolute;
    left: -180px;
    bottom: 10%;
    width: 300px;
    height: 100px;
    border-radius: 100px;
    background-color: #384852;
    transition: all 0.25s ease-in-out;
    gap: 8%;
    display: flex;
}

#country:hover {
    left: -40px;
}

#country img {
    position: relative;
    float: right;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    max-width: 80%;
    max-height: 80%;
}

#country p{
    display: grid;
    align-items: center;
    margin-left: 25%;
    font-family: GenFont;
    font-size: 14pt;
    color: #E6E6E6;
    transform: translateX(120%);
    opacity: 0%;
    transition: all 0.25s ease-in-out;
}

#country:hover p {
    transform: translateX(0%);
    opacity: 100%;
}

#about {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#about #bg {
    position: absolute;
    width: 100%;
    height: 100%;
}

#bg #bg_circle{
    position: absolute;
    right: -6%;
    bottom: -12%;
    margin: 0;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-color: #8fa6b2;
    filter: blur(200px);
}

.bg_inact {
    opacity: 0%;
    transition: all linear 0.25s;
}

.bg_active {
    opacity: 100%;
}

#cont_profile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    gap: 8%;
}

#cont_photo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
    height: 400px;
}

#cont_photo img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 30% 20% 30% 20%;
}

.desc_img_inact {
    opacity: 50%;
    filter: blur(5px);
    box-shadow: 0px 0px 0px #8fa6b2;
    transition: all 0.5s ease-in-out;
}

.desc_img_act {
    opacity: 100%;
    filter: none;
    box-shadow: 0px 0px 80px #8fa6b2;
}

#cont_desc {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: fit-content;
    height: fit-content;
}

#cont_desc h1 {
    font-family: GenFont;
    font-size: 40pt;
    color: #E6E6E6;
    margin: 0;
}

#h2_cont {
    display: inline-block;
}

#cont_desc h2 {
    display: grid;
    vertical-align: center;
    font-family: GenFont;
    font-size: 16pt;
    color: #93c4de;
}

#cont_desc p {
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5;
    font-family: GenFont;
    font-size: 14pt;
    color: #c2c2c2;
    margin: 0;
}

.cont_desc_info {
    margin-bottom: 10px;
    overflow: hidden;
}

.cont_desc_info:nth-child(3) p{
    transition-delay: 100ms;
}

.cont_desc_info:nth-child(4) p{
    transition-delay: 200ms;
}

.cont_desc_info:nth-child(5) p{
    transition-delay: 300ms;
}

.cont_desc_info:nth-child(6) p{
    transition-delay: 400ms;
}

.desc_inact_h1 {
    opacity: 50%;
    text-shadow: 0px 0px 0px #c2c2c2;
    transition: all 0.25s ease-in-out;
}

.desc_active_h1 {
    opacity: 100%;
    text-shadow: 0px 0px 15px #aac7d8a7;
}

.desc_inact_h2 {
    opacity: 50%;
    text-shadow: 0px 0px 0px #7da6bd;
    transition: all 0.25s ease-in-out;
}

.desc_active_h2 {
    opacity: 100%;
    text-shadow: 0px 0px 5px #7da6bd;
    animation: power_unstable 20s linear infinite;
}

.desc_inact_p {
    opacity: 50%;
    transform: translateY(100%);
    transition: all 0.25s ease-in-out;
    filter: blur(2px);
}

.desc_active_p {
    opacity: 100%;
    transform: translateY(0%);
    filter: blur(0px);
}

#btn_about {
    display: grid;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5%;
    right: 4%;
    width: 165px;
    height: 75px;
    border-radius: 50px;
    background-color: #384852;
}

#btn_text {
    display: inline-block;
    pointer-events: none;
}

#btn_text h1 {
    color: #E6E6E6;
    font-family: GenFont;
    font-weight: bold;
    font-size: 16pt;
    margin: 0%;
}

#btn_text p {
    color: #768A96;
    font-family: GenFont;
    font-size: 8pt;
    margin: 0%;
}

.btn_inact {
    transform: translateX(125%);
    filter: blur(5px);
    transition: all 0.25s ease-in-out;
}

.btn_active {
    filter: blur(0px);
    transform: translateX(0%);
    cursor: pointer;
}

.btn_active:hover {
    box-shadow: 0px 0px 15px #7094a8;
}

@keyframes rain {
    from {
        transform: translateY(-30%);
        opacity: 100%;
    }
    to {
        transform: translateY(75%);
        opacity: 0%;
    }
}

@keyframes desc_in {
    from {
        transform: translateY(100%);
        filter: blur(2px);
        opacity: 30%;
        text-shadow: none;
    }
    to {
        transform: translateY(0%);
        filter: blur(0px);
        opacity: 100%;
        text-shadow: none;
    }
}

@keyframes desc_out {
    from {
        transform: translateY(0%);
        filter: blur(0px);
        opacity: 100%;
        text-shadow: none;
    }
    to {
        transform: translateY(-100%);
        filter: blur(2px);
        opacity: 30%;
        text-shadow: none;
    }
}

@keyframes power_unstable {
    0% {
        text-shadow: 0px 0px 5px #7da6bd;
        opacity: 100%;
    }

    22% {
        text-shadow: 0px 0px 5px #7da6bd;
        opacity: 100%;
    }

    22.5% {
        text-shadow: 0px 0px 0px #7da6bd;
        opacity: 80%;
    }
    23% {
        text-shadow: 0px 0px 5px #7da6bd;
        opacity: 100%;
    }
    23.5% {
        text-shadow: 0px 0px 0px #7da6bd;
        opacity: 80%;
    }
    24% {
        text-shadow: 0px 0px 5px #7da6bd;
        opacity: 100%;
    }
    32% {
        text-shadow: 0px 0px 5px #7da6bd;
        opacity: 100%;
    }
    45% {
        text-shadow: 0px 0px 5px #7da6bd;
        opacity: 100%;
    }
    45.5% {
        text-shadow: 0px 0px 0px #7da6bd;
        opacity: 40%;
    }
    75% {
        text-shadow: 0px 0px 0px #7da6bd;
        opacity: 40%;
    }
    75.5% {
        text-shadow: 0px 0px 5px #7da6bd;
        opacity: 100%;
    }
    76% {
        text-shadow: 0px 0px 0px #7da6bd;
        opacity: 80%;
    }
    76.5% {
        text-shadow: 0px 0px 5px #7da6bd;
        opacity: 100%;
    }
    77% {
        text-shadow: 0px 0px 5px #7da6bd;
        opacity: 100%;
    }
    100% {
        text-shadow: 0px 0px 5px #7da6bd;
        opacity: 100%;
    }
}